@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul style="list-style-type:none;">
        <li><strong>MACHINE NAME:</strong> @Environment.MachineName</li>
        @foreach (var item in Model.Variables)
        {
            <li><strong>@item.Key:</strong> @item.Value</li>
        }
    </ul>
</div>
